/// including mixins ///

@mixin cl()
	&:before, &:after
		content: ''
		display: table
		clear: both
// usage: +cl


=ft($var, $font)
	+font-face("#{$var}", "../fonts/#{$font}", $file-formats: eot woff ttf svg)

//usage: +ft('variable', 'fontname')


=bg($name, $a: 'jpg')
	background: url(../img/#{$name}.#{$a}) no-repeat top center/cover
	


// media queries //
@mixin m ($m)
	@media only screen and (max-width: $m+px)
		@content