@import "generated/sprite-svg"
@import "generated/sprite-png"
@import "bourbon/bourbon"
@import "_reset"
@import "_helpers"
@import "_variables"
@import "_mixins"
@import '_fonts'
@import "_base"






.clcBlock
  margin: 40px auto 80px
  width: 100%
  max-width: 1210px
  padding: 0 15px
  &_title
    display: block
    text-align: center
    color: #333
    font: 44px/53px mb
    +m(969)
      font: 32px/1.4 mb
    +m(767)
      font-size: 26px
  &_main
    margin-top: 40px
    width: 100%
    position: relative
    +cl
  &_pre
    width: 100%
    max-width: 780px
    margin: 0 auto
    &_content
      display: block
      color: #333
      font: 20px/27px mm
      +m(969)
        font: 16px/1.4 mm
      &:not(:first-of-type)
        margin-top: 15px
  &_container
    margin: 40px auto 0
    width: 100%
    max-width: 780px
    border: 2px solid rgba(244, 130, 34, 0.25)
    padding: 40px 0
    border-radius: 6px
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 0px
    h2
      display: block
      width: 100%
      padding: 0 40px
      color: #333
      font: 21px/31px mb
      +m(969)
        font: 18px/1.4 mb
      +m(767)
        padding: 0 15px
      +m(479)
        font-size: 16px
      &:not(:first-child)
        margin-top: 40px
        +m(479)
          margin-top: 30px
      a
        font-size: inherit
        font-family: inherit
        line-height: inherit
        color: #4a90e2
        text-decoration: underline
        &:hover
          text-decoration: none
  &_find
    margin-top: 20px
    padding: 0 30px
    +m(767)
      padding: 0 15px
    &_items
      display: flex
      align-items: center
      +m(479)
        flex-direction: column
    &_item
      display: flex
      align-items: center
      justify-content: center
      user-select: none
      flex: 1 1 calc(50% - 10px)
      max-width: calc(50% - 10px)
      +m(479)
        flex: 1 1 1
        max-width: 100%
      &--true
        &.active
          border: 2px solid #00b8af
      &--false
        &.active
          border: 2px solid #d0021b
      &:not(:first-of-type)
        margin-left: 20px
        +m(479)
          margin-left: 0
          margin-top: 10px
      &_radio
        border: 0
        clip: rect(0 0 0 0)
        height: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute
        width: 1px
        &[data-v=true]:checked
          &+.clcBlock_find_item_container
            border: 2px solid #00b8af
        &[data-v=false]:checked
          &+.clcBlock_find_item_container
            border: 2px solid #d0021b
      &_container
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        border: 2px solid transparent
        border-radius: 7px
        transition: $trs
        padding: 8px
      &_pic
        display: block
        max-width: 100%
        max-height: 100%
        width: auto
        height: auto
    &_answer
      margin-top: 30px
      &_item
        display: none
        padding: 10px 20px
        border-radius: 7px
        color: #fff
        font: 16px/1.5 mm
        text-align: center
        +m(479)
          font: 14px/1.4 mm
        &--true
          background-color: #00b8af
        &--false
          background-color: #d0021b
  &_question
    margin-top: 40px
    background: rgba($orange, 0.1)
    padding: 30px 38px
    +m(767)
      padding: 25px 15px
    &_title
      display: block
      color: $orange
      font: 17px/25px mb
    &_content
      display: block
      margin-top: 20px
      color: #333
      font: 14px/20px mm
  &_body
    margin-top: 40px
    padding: 0 40px
    +cl
    +m(767)
      padding: 0 15px
    h2
      padding: 0
      &:not(:first-child)
        margin-top: 40px
        +m(479)
          margin-top: 30px
    p
      display: block
      margin-top: 20px
      color: rgba(#333, 0.5)
      font: 14px/20px mm
  &_range-slider
    &Block
      padding-bottom: 23px
  &_checkList
    +cl
  &_checkItem
    display: flex
    align-items: center
    user-select: none
    margin-top: 20px
    +m(479)
      flex-direction: column
      align-items: flex-start
    &_section
      display: flex
      align-items: center
      cursor: pointer
      min-width: 150px
      +m(479)
        min-width: auto
      &:not(:first-of-type)
        margin-left: 60px
        +m(479)
          margin-left: 0
          margin-top: 10px
    &_radio
      border: 0
      clip: rect(0 0 0 0)
      height: 1px
      margin: -1px
      overflow: hidden
      padding: 0
      position: absolute
      width: 1px
      &:checked + .clcBlock_checkItem_iconBlock
        & > .clcBlock_checkItem_icon
          opacity: 1
    &_icon
      opacity: 0
      display: block
      width: 30px
      height: 30px
      transition: $trs
      position: absolute
      left: -2px
      top: -2px
      border-radius: 15px
      &Block
        width: 30px
        height: 30px
        border-radius: 15px
        border: 2px solid $orange
        flex-shrink: 0
        position: relative
    &_content
      display: block
      margin-left: 20px
      flex: 1
      color: #333
      font: 16px/24px mm
      +m(479)
        margin-left: 10px
  &_result
    margin-top: 40px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px 40px
    background-color: $orange
    +m(767)
      padding: 15px
    +m(479)
      flex-direction: column
      align-items: flex-end
      justify-content: center
    &_title
      display: block
      color: #fff
      font: 21px/31px mb
      +m(767)
        font: 18px/1 mb
      +m(559)
        font-size: 16px
    &_value
      display: block
      color: #fff
      font: 44px/53px mb
      +m(767)
        font: 30px/1 mb
      +m(559)
        font-size: 24px
      +m(479)
        margin-top: 10px
  &_details
    +cl
    &_items
      display: block
      margin-top: 9px
      +cl
    &_item
      margin-top: 20px
      display: flex
      align-items: center
      +m(479)
        flex-direction: column
        align-items: flex-start
        margin-top: 30px
      &_title
        display: block
        flex: 1
        color: #333
        font: 14px/20px mm
      &_val
        display: block
        text-align: right
        width: 180px
        flex-shrink: 0
        color: #333
        font: 17px/24px mb
        +m(479)
          font: 14px/1.3 mb
          width: 100%
          text-align: left
          margin-top: 5px
  &_reasons
    margin: 40px auto 0
    width: 100%
    max-width: 810px
    padding: 0 15px
    &_wrapper
      padding: 0 40px
      +m(767)
        padding: 0 15px
      +m(479)
        padding: 0
    &_title
      display: block
      color: $orange
      font: 17px/25px mb
    &_list
      display: block
      margin-top: 20px
      +cl
    &_item
      display: list-item
      list-style-type: decimal
      color: #333
      font: 14px/20px mm
      &:not(:first-of-type)
        margin-top: 25px






























































































































































































