article.clcBlock
  h1.clcBlock_title Сколько стоит путешествовать по России?
  .clcBlock_main
    .clcBlock_pre
      p.clcBlock_pre_content
        | Ограничительные меры, введенные из-за коронавируса, постепенно смягчаются. Мы вновь можем спокойно путешествовать. Правда, границы пока закрыты, но это хорошая возможность посмотреть свою страну и побывать там, где давно хотелось.
      p.clcBlock_pre_content
        | Серия интерактивных калькуляторов покажет, во сколько вам обойдется путешествие. А начнем мы с направления-мечты многих Россиян — с Камчатки.
      p.clcBlock_pre_content
        | Насколько Камчатка — дорогое удовольствие?
    .clcBlock_container
      h2 Для начала найдите Камчатку
      .clcBlock_find
        .clcBlock_find_items
          label.clcBlock_find_item
            input.clcBlock_find_item_radio(type="radio" name="find" value="kamchatka" data-v="true")
            span.clcBlock_find_item_container
              img.clcBlock_find_item_pic(src="/img/kamchatka.jpg")
          label.clcBlock_find_item
            input.clcBlock_find_item_radio(type="radio" name="find" value="island" data-v="false")
            span.clcBlock_find_item_container
              img.clcBlock_find_item_pic(src="/img/island.jpg")
        .clcBlock_find_answer
          p.clcBlock_find_answer_item.clcBlock_find_answer_item--true
            | Верно! Это Долина Гейзеров. <br />Одно из чудес природы, ради которых и едут на Камчатку.
          p.clcBlock_find_answer_item.clcBlock_find_answer_item--false
            | Это Исландия. Скажите, похожа на Камчатку! Зачем ждать открытия границ, если гейзеры можно увидеть и в нашей стране?
      .hidden.not-begun
        .clcBlock_question
          h3.clcBlock_question_title Самостоятельно или через турфирму?
          p.clcBlock_question_content
            | Самостоятельное путешествие часто выходит дешевле организованного тура. Но только не на Камчатку. До главных достопримечательностей края — вулканов и гейзеров — можно доехать только на вездеходах или долететь на вертолете. Есть вариант пойти пешком. Но многодневный поход под силу не каждому. Еще  понадобится гид, нужно будет решить много организационных вопросов. Проще и дешевле доверить свое путешествие турфирме, которая закладывает все расходы в стоимость путевки. Туристу остается выбрать вариант по карману. И самому купить авиабилеты.
        .clcBlock_body
          h2 Сколько человек поедет?
          .clcBlock_range-sliderBlock
            .clcBlock_range-slider#range-peoples
              .clcBlock_range.clcBlock_range--pips
                .form-control-range
          p
            | Если вы путешествуете с детьми и рассчитываете на скидку, спешим вас расстроить. На Камчатке это правило не работает: сезон короткий, группы небольшие, и турфирмы стараются получить по максимуму. Некоторые компании дают скидку 10% детям от 7 до 12 лет. С детьми младше в тур не берут, а если ребенок старше, с него всегда возьмут полную стоимость. Поэтому для простоты расчета мы не стали делить путешественников на взрослых и детей.
          h2 На сколько дней?
          .clcBlock_range-sliderBlock
            .clcBlock_range-slider#range-days
              .clcBlock_range.clcBlock_range--pips
                .form-control-range
          p
            | На Камчатку не едут на пару дней, ведь на одну только дорогу до Петропавловска уйдет половина суток. Минимальная длительность тура на полуостров — 7 дней, но для полного знакомства с краем знатоки рекомендуют отвести хотя бы дней 10.
          h2 Как собираетесь путешествовать по Камчатке?
          ul.clcBlock_checkList
            li.clcBlock_checkItem
              label.clcBlock_checkItem_section
                input.clcBlock_checkItem_radio(type="radio" name="tarif" value="0")
                span.clcBlock_checkItem_iconBlock
                  svg.clcBlock_checkItem_icon(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                    path(fill="#F48222" d="M13.5 21.6l-7.05-7.05 2.1-2.1 4.95 4.95L26.1 4.8C23.25 1.95 19.35 0 15 0 6.75 0 0 6.75 0 15s6.75 15 15 15 15-6.75 15-15c0-2.85-.75-5.4-2.1-7.65L13.5 21.6z")
                span.clcBlock_checkItem_content
                  | Пешком! Обожаю походы, палатки и песни под гитару у костра.
            li.clcBlock_checkItem
              label.clcBlock_checkItem_section
                input.clcBlock_checkItem_radio(type="radio" name="tarif" value="1")
                span.clcBlock_checkItem_iconBlock
                  svg.clcBlock_checkItem_icon(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                    path(fill="#F48222" d="M13.5 21.6l-7.05-7.05 2.1-2.1 4.95 4.95L26.1 4.8C23.25 1.95 19.35 0 15 0 6.75 0 0 6.75 0 15s6.75 15 15 15 15-6.75 15-15c0-2.85-.75-5.4-2.1-7.65L13.5 21.6z")
                span.clcBlock_checkItem_content
                  | Хочу посмотреть всё самое интересное, но ночевать хочу с комфортом, в гостинице или на турбазе.
            li.clcBlock_checkItem
              label.clcBlock_checkItem_section
                input.clcBlock_checkItem_radio(type="radio" name="tarif" value="2")
                span.clcBlock_checkItem_iconBlock
                  svg.clcBlock_checkItem_icon(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                    path(fill="#F48222" d="M13.5 21.6l-7.05-7.05 2.1-2.1 4.95 4.95L26.1 4.8C23.25 1.95 19.35 0 15 0 6.75 0 0 6.75 0 15s6.75 15 15 15 15-6.75 15-15c0-2.85-.75-5.4-2.1-7.65L13.5 21.6z")
                span.clcBlock_checkItem_content
                  | Мне нужен эксклюзив. Готов потратиться на лучших гидов и вертолет, чтобы увидеть всё, чем славится Камчатка.
          h2.hidden В Долину гейзеров быстрее всего добраться на вертолете, но за дополнительную плату. Полетите?
          .clcBlock_checkItem.hidden
            label.clcBlock_checkItem_section
              input.clcBlock_checkItem_radio(type="radio" name="helicopter" value="true")
              span.clcBlock_checkItem_iconBlock
                svg.clcBlock_checkItem_icon(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                  path(fill="#F48222" d="M13.5 21.6l-7.05-7.05 2.1-2.1 4.95 4.95L26.1 4.8C23.25 1.95 19.35 0 15 0 6.75 0 0 6.75 0 15s6.75 15 15 15 15-6.75 15-15c0-2.85-.75-5.4-2.1-7.65L13.5 21.6z")
              span.clcBlock_checkItem_content
                | Да
            label.clcBlock_checkItem_section
              input.clcBlock_checkItem_radio(type="radio" name="helicopter" value="false")
              span.clcBlock_checkItem_iconBlock
                svg.clcBlock_checkItem_icon(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                  path(fill="#F48222" d="M13.5 21.6l-7.05-7.05 2.1-2.1 4.95 4.95L26.1 4.8C23.25 1.95 19.35 0 15 0 6.75 0 0 6.75 0 15s6.75 15 15 15 15-6.75 15-15c0-2.85-.75-5.4-2.1-7.65L13.5 21.6z")
              span.clcBlock_checkItem_content
                | Нет
          h2.hidden На Камчатке можно встретить медведя везде. Но больше всего их на Курильском озере. Когда лосось идет на нерест, сюда приходят тысячи особей. На озеро к медведям туристов возят на вертолете за дополнительную плату. Полетите?
          .clcBlock_checkItem.hidden
            label.clcBlock_checkItem_section
              input.clcBlock_checkItem_radio(type="radio" name="bears" value="true")
              span.clcBlock_checkItem_iconBlock
                svg.clcBlock_checkItem_icon(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                  path(fill="#F48222" d="M13.5 21.6l-7.05-7.05 2.1-2.1 4.95 4.95L26.1 4.8C23.25 1.95 19.35 0 15 0 6.75 0 0 6.75 0 15s6.75 15 15 15 15-6.75 15-15c0-2.85-.75-5.4-2.1-7.65L13.5 21.6z")
              span.clcBlock_checkItem_content
                | А как же!
            label.clcBlock_checkItem_section
              input.clcBlock_checkItem_radio(type="radio" name="bears" value="false")
              span.clcBlock_checkItem_iconBlock
                svg.clcBlock_checkItem_icon(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                  path(fill="#F48222" d="M13.5 21.6l-7.05-7.05 2.1-2.1 4.95 4.95L26.1 4.8C23.25 1.95 19.35 0 15 0 6.75 0 0 6.75 0 15s6.75 15 15 15 15-6.75 15-15c0-2.85-.75-5.4-2.1-7.65L13.5 21.6z")
              span.clcBlock_checkItem_content
                | Нет, посмотрю потом фотки
          h2.hidden Добавить медицинский полис для путешественников со страховым покрытием в 2 млн Р? Это <a href="http://ya.ru">всего 59 Р в сутки</a>.
          .clcBlock_checkItem.hidden
            label.clcBlock_checkItem_section
              input.clcBlock_checkItem_radio(type="radio" name="insurance" value="true")
              span.clcBlock_checkItem_iconBlock
                svg.clcBlock_checkItem_icon(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                  path(fill="#F48222" d="M13.5 21.6l-7.05-7.05 2.1-2.1 4.95 4.95L26.1 4.8C23.25 1.95 19.35 0 15 0 6.75 0 0 6.75 0 15s6.75 15 15 15 15-6.75 15-15c0-2.85-.75-5.4-2.1-7.65L13.5 21.6z")
              span.clcBlock_checkItem_content
                | Да
            label.clcBlock_checkItem_section
              input.clcBlock_checkItem_radio(type="radio" name="insurance" value="false")
              span.clcBlock_checkItem_iconBlock
                svg.clcBlock_checkItem_icon(xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30")
                  path(fill="#F48222" d="M13.5 21.6l-7.05-7.05 2.1-2.1 4.95 4.95L26.1 4.8C23.25 1.95 19.35 0 15 0 6.75 0 0 6.75 0 15s6.75 15 15 15 15-6.75 15-15c0-2.85-.75-5.4-2.1-7.65L13.5 21.6z")
              span.clcBlock_checkItem_content
                | Нет
        .clcBlock_result.hidden
          span.clcBlock_result_title
            | Результат за <span class="clcBlock_result_personsCount">2 человека</span>:
          span.clcBlock_result_value 300 р
        .clcBlock_details.hidden
        .clcBlock_body
          h2 В том числе:
          ul.clcBlock_details_items
            li.clcBlock_details_item
              span.clcBlock_details_item_title Авиабилеты Москва — Петропавловск-Камчатский — Москва
              span.clcBlock_details_item_val#flying 999 р
            li.clcBlock_details_item
              span.clcBlock_details_item_title Турпутевки, включающие проживание, питание, автомобильные переезды на Камчатке и услуги гида
              span.clcBlock_details_item_val#tarifs 999 р
            li.clcBlock_details_item
              span.clcBlock_details_item_title Дополнительные услуги
              span.clcBlock_details_item_val#addiction 999 р
            li.clcBlock_details_item
              span.clcBlock_details_item_title Медицинское страхование
              span.clcBlock_details_item_val#insurance 999 р
    .clcBlock_reasons.hidden.not-begun
      .clcBlock_reasons_wrapper
        h2.clcBlock_reasons_title 5 причин поехать не в Исландию, а на Камчатку
        ul.clcBlock_reasons_list
          li.clcBlock_reasons_item
            | - В Исландии ко всем достопримечательностям можно добраться на машине. А Камчатка — дикая и первобытная, чем и привлекает.
          li.clcBlock_reasons_item
            | - Камчатские вулканы выше и активнее исландских. На многие можно подняться.
          li.clcBlock_reasons_item
            | - Здесь говорят по-русски
          li.clcBlock_reasons_item
            | - На Камчатку не нужна виза
          li.clcBlock_reasons_item
            | - Вы пролетите через все часовые пояса России. А на обратном пути можно буквально остановить время. Из Петропавловска-Камчатского самолет вылетает в полдень, в Москву он прилетает в полдень того же дня.